
@media (max-width: 500px) 
{
    .laptopes{
        display: none;
    }
}

@media (max-width: 1000px){

    hr{
        display: none;
    }
    .img_cont
    {
        display: none;
    }
}


@media (min-width: 500px){
    .phones{
        display: none;
    }
}


body{
    background-repeat:repeat-x;
 
}

nav{
    position: fixed;
    
}

.col{
    padding: 3%;
    width: 45%;
    
}

img{
    border-radius: 5%;
    width: 100%;
    padding-top: 13%;
}

h1{
    padding-left: 8%;
    padding-top: 8%;
    padding-right: 8%;
    text-align: center;
}
h5{
    padding-left: 8%;
    padding-bottom: 2%;
    padding-right: 8%;
    text-align: center;
}

.btn{
    margin: 0.5%;
}

.buttons{
    text-align: center;
}

.col6{
    padding: 1%;
    width: 45%;
}

.card{
    text-align: center;
    border-radius: 5%;
    border: 0ch;
}

.card{
    
    border: solid rgba(0, 0, 0, 0.479) 0.2ch;
    transition: 0.2s;
  }
.card:hover {
    background: rgba(0, 255, 242, 0.548); 
    border: solid rgba(0, 255, 242, 0.548) 0.2ch;
}

.card_img{
    padding: 5%;
    width: 13rem;

}